<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Organization" title="labels.heading.Password Preferences">
    <form [formGroup]="passwordPreferencesForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-radio-group class="password-cards-container" formControlName="validationPolicyId">
              <div
                *ngFor="let passwordPreference of passwordPreferencesData; trackBy: trackByPasswordPreference"
                class="password-card"
                [class.selected]="passwordPreferencesForm.get('validationPolicyId')?.value === passwordPreference.id"
              >
                <div class="card-header">
                  <div class="card-heading">
                    {{ getPasswordLabel(passwordPreference) | translate }}
                  </div>
                  <mat-radio-button [value]="passwordPreference.id"></mat-radio-button>
                </div>

                <div class="card-description">
                  <span class="description-wrap">
                    {{ passwordPreference.description | translateKey: 'passwordPreferences' }}
                  </span>
                </div>
              </div>
            </mat-radio-group>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="passwordPreferencesForm.pristine"
          *mifosxHasPermission="'UPDATE_PASSWORD_VALIDATION_POLICY'"
          type="submit"
        >
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
