<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Products" title="labels.heading.Edit Product Mix">
    <form [formGroup]="productMixForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Product' | translate }}</mat-label>
              <input matInput formControlName="productId" />
            </mat-form-field>

            @if (productData) {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Restricted products' | translate }}</mat-label>
                <mat-select required formControlName="restrictedProducts" multiple>
                  @for (product of productData; track product) {
                    <mat-option [value]="product.id">
                      {{ product.name }}
                    </mat-option>
                  }
                </mat-select>
                @if (productMixForm.controls.restrictedProducts.hasError('required')) {
                  <mat-error>
                    {{ 'labels.commons.At least one restricted product' | translate }}
                    <strong>{{ 'labels.commons.must be selected' | translate }}</strong>
                  </mat-error>
                }
              </mat-form-field>
            }
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" *mifosxHasPermission="'UPDATE_PRODUCTMIX'" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
