<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="table-card">
  <div class="table-toolbar">
    <p-iconfield iconPosition="left" class="toolbar-search">
      <p-inputicon>
        <span class="material-symbols-outlined toolbar-search-icon" aria-hidden="true">search</span>
      </p-inputicon>
      <input
        pInputText
        type="search"
        [value]="filterText"
        [placeholder]="'labels.text.SearchByClient' | translate"
        [attr.aria-label]="'labels.text.SearchByClient' | translate"
        #searchInput
        (input)="onSearchInput(searchInput.value)"
        (keydown.enter)="search(searchInput.value)"
        (compositionstart)="onCompositionStart()"
        (compositionend)="onCompositionEnd(searchInput.value)"
      />
    </p-iconfield>

    <div class="toolbar-actions">
      <p-button
        [label]="'labels.buttons.Import Client' | translate"
        [outlined]="true"
        severity="secondary"
        [routerLink]="['../', 'organization', 'bulk-import', 'Clients']"
        *mifosxHasPermission="'CREATE_CLIENT'"
      >
        <ng-template #icon>
          <span class="material-symbols-outlined button-icon" aria-hidden="true">download</span>
        </ng-template>
      </p-button>
      <p-button
        [label]="'labels.buttons.Create Client' | translate"
        [routerLink]="['create']"
        *mifosxHasPermission="'CREATE_CLIENT'"
      >
        <ng-template #icon>
          <span class="material-symbols-outlined button-icon" aria-hidden="true">add</span>
        </ng-template>
      </p-button>
    </div>
  </div>

  <mifosx-data-table
    [columns]="columns"
    [rows]="clients()"
    [totalRecords]="totalRows()"
    [loading]="isLoading()"
    [pageSize]="pageSize"
    [first]="first()"
    [emptyMessage]="'labels.text.No client was found' | translate"
    (lazyLoad)="onLazyLoad($event)"
    (rowSelect)="onRowSelect($event)"
  >
    <ng-template #cell let-row let-col="col">
      @switch (col.field) {
        @case ('displayName') {
          <mifosx-table-name-cell [name]="hideClientData ? maskName(row.displayName) : row.displayName" />
        }
        @case ('accountNumber') {
          <mifosx-account-number display="left" [accountNo]="row.accountNumber" />
        }
        @case ('externalId') {
          <mifosx-external-identifier display="left" [externalId]="row.externalId" />
        }
        @case ('status') {
          <mifosx-status-badge [code]="row.status?.code ?? ''" />
        }
        @default {
          {{ row[col.field] }}
        }
      }
    </ng-template>
  </mifosx-data-table>
</div>
