<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="mat-typography">
  <div class="layout-row align-end m-b-20">
    <button type="button" mat-raised-button color="primary" (click)="addFamilyMember()">
      <fa-icon icon="plus" class="m-r-10"></fa-icon>{{ 'labels.buttons.Add' | translate }}
    </button>
  </div>

  @for (member of clientFamilyMembers; track member; let i = $index) {
    <div class="family-member-card">
      <div class="family-member-header layout-row align-items-center justify-between">
        <div>
          <strong>
            {{ member.firstName }} {{ member.middleName ? member.middleName + ' ' + member.lastName : member.lastName }}
          </strong>
          <span class="family-member-meta">{{ member.relationship }}</span>
        </div>
        <div class="family-member-actions layout-row">
          <button type="button" mat-button color="primary" (click)="editFamilyMember(member, i)">
            <fa-icon icon="edit"></fa-icon>
          </button>
          <button type="button" mat-button color="warn" (click)="deleteFamilyMember(member.firstName, i)">
            <fa-icon icon="trash"></fa-icon>
          </button>
        </div>
      </div>
      <p>
        {{ 'labels.inputs.First Name' | translate }} : {{ member.firstName }}<br />
        {{ 'labels.inputs.Middle Name' | translate }} : {{ member.middleName }}<br />
        {{ 'labels.inputs.Last Name' | translate }} : {{ member.lastName }}<br />
        {{ 'labels.inputs.Qualification' | translate }} : {{ member.qualification }}<br />
        {{ 'labels.inputs.Relationship' | translate }} :
        {{ member.relationshipId | find: clientTemplate.familyMemberOptions.relationshipIdOptions : 'id' : 'name'
        }}<br />
        {{ 'labels.inputs.Age' | translate }} : {{ member.age }}<br />
        {{ 'labels.inputs.Is Dependent' | translate }} : {{ member.isDependent ? 'Yes' : 'No' }}<br />
        {{ 'labels.inputs.Marital Status' | translate }} :
        {{ member.maritalStatusId | find: clientTemplate.familyMemberOptions.maritalStatusIdOptions : 'id' : 'name'
        }}<br />
        {{ 'labels.inputs.Gender' | translate }} :
        {{ member.genderId | find: clientTemplate.familyMemberOptions.genderIdOptions : 'id' : 'name' }}<br />
        {{ 'labels.inputs.Profession' | translate }} :
        {{ member.professionId | find: clientTemplate.familyMemberOptions.professionIdOptions : 'id' : 'name' }}<br />
        {{ 'labels.inputs.Date Of Birth' | translate }} : {{ member.dateOfBirth | dateFormat }}<br />
      </p>
    </div>
  }
</div>
