<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<h2 mat-dialog-title class="form-dialog-title">{{ data.title }}</h2>

<mat-dialog-content class="form-dialog-content">
  <form [formGroup]="form" class="form-dialog-form" [class.form-grid]="layout.columns > 1">
    @for (formfield of formfields; track formfield) {
      @if (layout.columns > 1) {
        <mifosx-formfield [formfield]="formfield" [form]="form"></mifosx-formfield>
      } @else {
        <mifosx-formfield [formfield]="formfield" [form]="form" class="flex-fill"></mifosx-formfield>
      }
    }
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end" class="form-dialog-actions">
  <button type="button" mat-raised-button mat-dialog-close>
    {{ 'labels.buttons.' + layout.cancelButtonText | translate }}
  </button>
  <button
    type="button"
    mat-raised-button
    color="primary"
    [mat-dialog-close]="{ data: form }"
    [disabled]="!form.valid || form.pristine"
  >
    {{ 'labels.buttons.' + layout.addButtonText | translate }}
  </button>
</mat-dialog-actions>
