<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

@if (visible) {
  <aside class="legal-notice" role="note">
    <p class="legal-notice__text">{{ 'labels.text.Warning message' | translate }}</p>
    <button type="button" mat-button class="legal-notice__dismiss" (click)="dismiss()">
      {{ 'labels.buttons.' + buttonText | translate }}
    </button>
  </aside>
}
