<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Groups" title="labels.heading.Add Role">
    <form [formGroup]="groupsAddRoleForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Client' | translate }}</mat-label>
              <mat-select formControlName="clientId">
                @for (client of clientMemberData; track client) {
                  <mat-option [value]="client.id">
                    {{ client.displayName }}
                  </mat-option>
                }
              </mat-select>
              @if (groupsAddRoleForm.controls.clientId.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Client Member' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Role' | translate }}</mat-label>
              <mat-select formControlName="role">
                @for (role of roleData; track role) {
                  <mat-option [value]="role.id">
                    {{ role.name }}
                  </mat-option>
                }
              </mat-select>
              @if (groupsAddRoleForm.controls.role.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Role' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" *mifosxHasPermission="'ASSIGNROLE_GROUP'" type="submit">
          {{ 'labels.buttons.Confirm' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
