<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page">
  <mifosx-form-workspace eyebrow="labels.heading.Organization" title="labels.heading.Edit Cashier">
    <form [formGroup]="editCashierForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
              <input matInput required autofocus [value]="cashierData.template.officeName" disabled />
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Teller Name' | translate }}</mat-label>
              <input matInput required autofocus [value]="cashierData.data.tellerName" disabled />
            </mat-form-field>

            @if (isStaffId) {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Cashier' | translate }}</mat-label>
                <mat-select formControlName="staffId">
                  @for (staff of cashierData.template.staffOptions; track staff) {
                    <mat-option [value]="staff.id">
                      {{ staff.displayName }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }

            @if (!isStaffId) {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Cashier' | translate }}</mat-label>
                @if (!isStaffId) {
                  <mat-select formControlName="staffId">
                    <mat-option [value]="cashierData.data.staffId">
                      {{ 'labels.inputs.Select Option' | translate }}
                    </mat-option>
                  </mat-select>
                }
              </mat-form-field>
            }

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Description/Notes' | translate }}</mat-label>
              <input matInput autofocus formControlName="description" />
            </mat-form-field>

            <mat-form-field (click)="fromDatePicker.open()">
              <mat-label>{{ 'labels.inputs.From' | translate }}</mat-label>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="fromDatePicker"
                required
                formControlName="startDate"
              />
              <mat-datepicker-toggle matSuffix [for]="fromDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #fromDatePicker></mat-datepicker>
              @if (editCashierForm.controls.startDate.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.From Date' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field (click)="toDatePicker.open()">
              <mat-label>{{ 'labels.inputs.To' | translate }}</mat-label>
              <input
                matInput
                [min]="editCashierForm.value.startDate"
                [max]="maxDate"
                [matDatepicker]="toDatePicker"
                required
                formControlName="endDate"
              />
              <mat-datepicker-toggle matSuffix [for]="toDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #toDatePicker></mat-datepicker>
              @if (editCashierForm.controls.endDate.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.To Date' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            @if (!editCashierForm.value.isFullDay) {
              <div class="layout-row gap-10px">
                <mat-form-field>
                  <mat-label
                    >{{ 'labels.inputs.Start Time' | translate }} ({{ 'labels.inputs.Hour' | translate }})</mat-label
                  >
                  <mat-select formControlName="hourStartTime">
                    @for (hour of hours; track hour) {
                      <mat-option [value]="hour">{{ hour }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label
                    >{{ 'labels.inputs.Start Time' | translate }} ({{ 'labels.inputs.Minute' | translate }})</mat-label
                  >
                  <mat-select formControlName="minStartTime">
                    @for (minute of minutes; track minute) {
                      <mat-option [value]="minute">{{ minute }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="layout-row gap-10px">
                <mat-form-field>
                  <mat-label
                    >{{ 'labels.inputs.End Time' | translate }} ({{ 'labels.inputs.Hour' | translate }})</mat-label
                  >
                  <mat-select formControlName="hourEndTime">
                    @for (hour of hours; track hour) {
                      <mat-option [value]="hour">{{ hour }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
                <mat-form-field>
                  <mat-label
                    >{{ 'labels.inputs.End Time' | translate }} ({{ 'labels.inputs.Minute' | translate }})</mat-label
                  >
                  <mat-select formControlName="minEndTime">
                    @for (minute of minutes; track minute) {
                      <mat-option [value]="minute">{{ minute }}</mat-option>
                    }
                  </mat-select>
                </mat-form-field>
              </div>
              @if (editCashierForm.hasError('invalidTimeRange')) {
                <div>
                  <mat-error>
                    {{ 'labels.inputs.End Time' | translate }} {{ 'labels.commons.must' | translate }}
                    {{ 'labels.commons.be' | translate }} {{ 'labels.commons.greater than' | translate }}
                    {{ 'labels.inputs.Start Time' | translate }}
                  </mat-error>
                </div>
              }
            }

            <div class="space">
              <mat-checkbox labelPosition="before" formControlName="isFullDay">
                {{ 'labels.inputs.Full Day' | translate }}?
              </mat-checkbox>
            </div>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" *mifosxHasPermission="'UPDATECASHIERALLOCATION_TELLER'" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
