<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Clients" title="labels.heading.Accept Client Transfer">
    <form [formGroup]="acceptClientTransferForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field (click)="transferDatePicker.open()">
              <mat-label>{{ 'labels.inputs.Transfer Date' | translate }}</mat-label>
              <input matInput [matDatepicker]="transferDatePicker" required formControlName="transferDate" />
              <mat-datepicker-toggle matSuffix [for]="transferDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #transferDatePicker></mat-datepicker>
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Note' | translate }}</mat-label>
              <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
            </mat-form-field>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ 'labels.buttons.Confirm' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
