<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mifosx-nav-hub
    hubSubtitle="labels.text.Accounting hub welcome"
    filterPlaceholder="labels.text.Filter accounting tasks"
    emptySearchMessage="labels.text.No accounting tasks match your search"
    recentScope="accounting"
    [sections]="sections"
  />
</div>

<ng-template #templateChartofAccounts let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Chart of Accounts"
    description="labels.text.The Chart of Accounts - General Ledger Setup"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepChartofAccounts()"
    (next)="nextStepChartofAccounts()"
  />
</ng-template>

<ng-template #templateAccountsLinked let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Accounts Linked to Financial Activities"
    description="labels.text.Accounts linked to Financial Activities"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepAccountsLinked()"
    (next)="nextStepAccountsLinked()"
  />
</ng-template>

<ng-template #templateMigrateOpeningBalances let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Migrate Opening Balances (Office-wise)"
    description="labels.text.GLAccount Balances Application"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepMigrateOpeningBalances()"
    (next)="nextStepMigrateOpeningBalances()"
  />
</ng-template>

<ng-template #templateClosingEntries let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Closing Entries"
    description="labels.text.Accounting to journal entries"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepClosingEntries()"
    (next)="nextStepClosingEntries()"
  />
</ng-template>

<ng-template #templateCreateJournalEntries let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Create Journal Entries"
    description="labels.text.Journal Entries Transactions"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepCreateJournalEntries()"
    (next)="nextStepCreateJournalEntries()"
  />
</ng-template>
