<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow mat-elevation-z8">
  <mifosx-form-workspace eyebrow="labels.heading.Loans" title="labels.heading.Loan Reamortize">
    <form [formGroup]="reamortizeLoanForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Interest Handling' | translate }}</mat-label>
              <mat-select formControlName="reAmortizationInterestHandling">
                @for (
                  reAmortizationInterestHandlingOption of reAmortizationInterestHandlingOptions;
                  track trackByInterestHandlingOption($index, reAmortizationInterestHandlingOption)
                ) {
                  <mat-option [value]="reAmortizationInterestHandlingOption.id">
                    {{ reAmortizationInterestHandlingOption.value | translateKey: 'catalogs' }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="layout-column">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Reason' | translate }}</mat-label>
              <mat-select formControlName="reasonCodeValueId">
                @for (
                  reAmortizationReasonOption of reAmortizationReasonOptions;
                  track trackByReasonOption($index, reAmortizationReasonOption)
                ) {
                  <mat-option [value]="reAmortizationReasonOption.id">
                    {{ reAmortizationReasonOption.name }}
                  </mat-option>
                }
              </mat-select>
            </mat-form-field>
          </div>

          <div class="layout-column">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.External Id' | translate }}</mat-label>
              <input matInput formControlName="externalId" />
            </mat-form-field>
          </div>

          <div class="layout-column">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Note' | translate }}</mat-label>
              <input matInput formControlName="note" />
            </mat-form-field>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button (click)="gotoLoanDefaultView()">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" *mifosxHasPermission="'REAMORTIZE_LOAN'" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
        <button
          type="button"
          mat-raised-button
          color="accent"
          *mifosxHasPermission="'REAMORTIZE_LOAN'"
          (click)="preview()"
        >
          {{ 'labels.buttons.Preview' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
