<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->
<div [class]="containerClasses">
  @switch (variant) {
    @case ('filled') {
      <md-filled-button
        [type]="type"
        [disabled]="isDisabled"
        [attr.aria-busy]="loading || null"
        [attr.aria-label]="ariaLabel || null"
        [attr.trailing-icon]="trailingIconOnly || null"
        (click)="onClick($event)"
      >
        <ng-container *ngTemplateOutlet="buttonInner" />
      </md-filled-button>
    }
    @case ('outlined') {
      <md-outlined-button
        [type]="type"
        [disabled]="isDisabled"
        [attr.aria-busy]="loading || null"
        [attr.aria-label]="ariaLabel || null"
        [attr.trailing-icon]="trailingIconOnly || null"
        (click)="onClick($event)"
      >
        <ng-container *ngTemplateOutlet="buttonInner" />
      </md-outlined-button>
    }
    @case ('elevated') {
      <md-elevated-button
        [type]="type"
        [disabled]="isDisabled"
        [attr.aria-busy]="loading || null"
        [attr.aria-label]="ariaLabel || null"
        [attr.trailing-icon]="trailingIconOnly || null"
        (click)="onClick($event)"
      >
        <ng-container *ngTemplateOutlet="buttonInner" />
      </md-elevated-button>
    }
    @case ('text') {
      <md-text-button
        [type]="type"
        [disabled]="isDisabled"
        [attr.aria-busy]="loading || null"
        [attr.aria-label]="ariaLabel || null"
        [attr.trailing-icon]="trailingIconOnly || null"
        (click)="onClick($event)"
      >
        <ng-container *ngTemplateOutlet="buttonInner" />
      </md-text-button>
    }
    @case ('tonal') {
      <md-filled-tonal-button
        [type]="type"
        [disabled]="isDisabled"
        [attr.aria-busy]="loading || null"
        [attr.aria-label]="ariaLabel || null"
        [attr.trailing-icon]="trailingIconOnly || null"
        (click)="onClick($event)"
      >
        <ng-container *ngTemplateOutlet="buttonInner" />
      </md-filled-tonal-button>
    }
  }
</div>

<ng-template #buttonInner>
  @if (loading) {
    <span class="m3-button-spinner" aria-hidden="true"></span>
  } @else if (icon) {
    <span slot="icon" class="m3-button-icon-leading">
      <mifosx-m3-icon [name]="icon" [size]="iconSize" />
    </span>
  }
  @if (label) {
    <span class="m3-button-label">{{ label }}</span>
  }
  <ng-content />
  @if (trailingIcon && !loading) {
    @if (trailingIconOnly) {
      <span slot="icon" class="m3-button-icon-trailing">
        <mifosx-m3-icon [name]="trailingIcon" [size]="iconSize" />
      </span>
    } @else {
      <span class="m3-button-icon-trailing">
        <mifosx-m3-icon [name]="trailingIcon" [size]="iconSize" />
      </span>
    }
  }
</ng-template>
