<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace title="labels.heading.Edit Collateral">
    <form [formGroup]="clientCollateralForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <div class="layout-column">
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.name' | translate }}</mat-label>
                <input matInput required formControlName="name" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Quantity' | translate }}</mat-label>
                <input matInput required formControlName="quantity" />
                @if (clientCollateralForm.controls.quantity.hasError('required')) {
                  <mat-error>
                    {{ 'labels.inputs.Quantity' | translate }} {{ 'labels.commons.is' | translate }}
                    <strong>{{ 'labels.commons.required' | translate }}</strong>
                  </mat-error>
                }
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Total' | translate }}</mat-label>
                <input matInput required formControlName="total" />
              </mat-form-field>

              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Total Collateral Value' | translate }}</mat-label>
                <input matInput required formControlName="totalCollateral" />
              </mat-form-field>
            </div>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
