<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow mat-elevation-z8">
  <mifosx-form-workspace eyebrow="labels.heading.Loans" title="labels.heading.Asset Transfer Loan">
    <form [formGroup]="saleLoanForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field (click)="settlementDatePicker.open()">
              <mat-label>{{ 'labels.inputs.Settlement Date' | translate }}</mat-label>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="settlementDatePicker"
                required
                formControlName="settlementDate"
              />
              <mat-datepicker-toggle matSuffix [for]="settlementDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #settlementDatePicker></mat-datepicker>
              @if (saleLoanForm.controls.settlementDate.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Settlement Date' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            @if (!isBuyBack()) {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Purchase Price Ratio' | translate }}</mat-label>
                <input
                  type="number"
                  matInput
                  required
                  formControlName="purchasePriceRatio"
                  min="0"
                  max="100"
                  step="0.01"
                  mifosxPositiveNumber
                />
                @if (saleLoanForm.controls.purchasePriceRatio.hasError('required')) {
                  <mat-error>
                    {{ 'labels.inputs.Purchase Price Ratio' | translate }} {{ 'labels.commons.is' | translate }}
                    <strong>{{ 'labels.commons.required' | translate }}</strong>
                  </mat-error>
                }
              </mat-form-field>
            }

            @if (!isBuyBack()) {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Owner External Id' | translate }}</mat-label>
                <input matInput formControlName="ownerExternalId" />
                @if (saleLoanForm.controls.ownerExternalId.hasError('required')) {
                  <mat-error>
                    {{ 'labels.inputs.Owner External Id' | translate }} {{ 'labels.commons.is' | translate }}
                    <strong>{{ 'labels.commons.required' | translate }}</strong>
                  </mat-error>
                }
              </mat-form-field>
            }

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Transfer External Id' | translate }}</mat-label>
              <input matInput formControlName="transferExternalId" />
            </mat-form-field>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button (click)="gotoLoanDefaultView()">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" *mifosxHasPermission="'SALE_LOAN'" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
