<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Accounting" title="labels.text.Financial Activity Mappings">
    <form [formGroup]="financialActivityMappingForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field class="form-field-full">
              <mat-label>{{ 'labels.inputs.Financial Activity' | translate }}</mat-label>
              <mat-select required formControlName="financialActivityId">
                @for (financialActivity of financialActivityData; track financialActivity) {
                  <mat-option [value]="financialActivity.id">
                    ({{ financialActivity.id }})
                    {{ 'labels.accounting.financialActivity.' + financialActivity.name | translate }}
                  </mat-option>
                }
              </mat-select>
              @if (financialActivityMappingForm.controls.financialActivityId.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Financial Activity' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mifosx-gl-account-selector
              class="form-field-full"
              [inputFormControl]="financialActivityMappingForm.controls.glAccountId"
              [glAccountList]="glAccountData"
              [required]="true"
              [inputLabel]="'Account'"
            >
            </mifosx-gl-account-selector>
          </div>
        </section>
      </div>

      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          *mifosxHasPermission="'CREATE_FINANCIALACTIVITYACCOUNT'"
        >
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
