<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Products" title="labels.heading.Create Dividend">
    <form [formGroup]="createDividendForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field (click)="startDatePicker.open()">
              <mat-label>{{ 'labels.inputs.Dividend Period Start Date' | translate }}</mat-label>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="startDatePicker"
                required
                formControlName="dividendPeriodStartDate"
              />
              <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #startDatePicker></mat-datepicker>
              @if (createDividendForm.controls.dividendPeriodStartDate.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Starting Date' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field (click)="endDatePicker.open()">
              <mat-label>{{ 'labels.inputs.Dividend Period End Date' | translate }}</mat-label>
              <input
                matInput
                [min]="minDate"
                [max]="maxDate"
                [matDatepicker]="endDatePicker"
                required
                formControlName="dividendPeriodEndDate"
              />
              <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #endDatePicker></mat-datepicker>
              @if (createDividendForm.controls.dividendPeriodEndDate.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.End Date' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Dividend Amount' | translate }}</mat-label>
              <input matInput required formControlName="dividendAmount" />
              @if (createDividendForm.controls.dividendAmount.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Amount' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
