<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mifosx-nav-hub
    hubSubtitle="labels.text.Define and maintain the products your institution offers"
    filterPlaceholder="labels.text.Filter product tasks"
    recentScope="products"
    [sections]="sections"
  />
</div>

<ng-template #templateCharges let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Charges"
    description="labels.text.Two types of charges—fees and penalties"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepCharges()"
    (next)="nextStepCharges()"
  />
</ng-template>

<ng-template #templateLoanProducts let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Loan Products"
    description="labels.text.Loan products define the rules, default settings"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepLoanProducts()"
    (next)="nextStepLoanProducts()"
  />
</ng-template>

<ng-template #templateSavingsProducts let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Savings Products"
    description="labels.text.Savings products define the rules, default settings"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepSavingsProducts()"
    (next)="nextStepSavingsProducts()"
  />
</ng-template>

<ng-template #templateShareProducts let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Share Products"
    description="labels.text.Share products define the rules, default settings"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepShareProducts()"
    (next)="nextStepShareProducts()"
  />
</ng-template>

<ng-template #templateFixedDepositProducts let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Fixed Deposit Products"
    description="labels.text.Fixed Deposit Products defines the rules, default settings"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepFixedDepositProducts()"
    (next)="nextStepFixedDepositProducts()"
  />
</ng-template>

<ng-template #templateRecurringDepositProducts let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Recurring Deposit Products"
    description="labels.text.Recurring Deposit products define the rules, default settings"
    descriptionClass="mw400"
    (closed)="closeConfigWizard()"
    (back)="previousStepRecurringDepositProducts()"
    (next)="nextStepRecurringDepositProducts()"
  />
</ng-template>
