<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<mat-card class="card">
  <mat-card-header class="header">
    <span class="icon-chip">
      <fa-icon icon="chart-line"></fa-icon>
    </span>
    <h3 class="header-title">{{ 'labels.inputs.Client Trends' | translate }}</h3>
    <mat-form-field id="office" class="office-field" subscriptSizing="dynamic">
      <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
      <mat-select [formControl]="officeId">
        @for (office of officeData; track office) {
          <mat-option [value]="office.id">
            {{ office.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  </mat-card-header>

  <mat-card-content>
    <!-- Structural directives like *ngIf break the canvas -->
    <div class="chart-area" [ngStyle]="{ display: hideOutput ? 'none' : 'block' }">
      <canvas id="client-trends-bar" width="800" height="465" class="fallback"></canvas>
    </div>
    <mat-button-toggle-group [formControl]="timescale" id="timescale" appearance="legacy">
      <mat-button-toggle value="Day">{{ 'labels.buttons.Day' | translate }}</mat-button-toggle>
      <mat-button-toggle value="Week">{{ 'labels.buttons.Week' | translate }}</mat-button-toggle>
      <mat-button-toggle value="Month">{{ 'labels.buttons.Month' | translate }}</mat-button-toggle>
    </mat-button-toggle-group>
  </mat-card-content>
</mat-card>
