<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page">
  <mifosx-form-workspace eyebrow="labels.heading.Accounting" title="labels.heading.Create Accounting Rule">
    <form [formGroup]="accountingRuleForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Accounting Rule Name' | translate }}</mat-label>
              <input matInput required formControlName="name" />
              @if (accountingRuleForm.controls.name.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Accounting Rule Name' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Office' | translate }}</mat-label>
              <mat-select required formControlName="officeId">
                @for (office of officeData; track office) {
                  <mat-option [value]="office.id">
                    {{ office.name }}
                  </mat-option>
                }
              </mat-select>
              @if (accountingRuleForm.controls.officeId.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Office' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field class="form-field-full">
              <mat-label>{{ 'labels.inputs.Description' | translate }}</mat-label>
              <textarea matInput formControlName="description" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
            </mat-form-field>
          </div>
        </section>

        <section class="form-section form-section--debit">
          <h2 class="form-section-title">{{ 'labels.inputs.Debit' | translate }}</h2>
          <div class="form-grid">
            <div class="rule-wrapper form-field-full">
              <span class="rule-label">{{ 'labels.inputs.Affected GL Entry (Debit) Rule Type' | translate }} *</span>
              <mat-radio-group class="radio-group-spacing" formControlName="debitRuleType">
                <mat-radio-button value="fixedAccount">{{
                  'labels.inputs.Fixed Account' | translate
                }}</mat-radio-button>
                <mat-radio-button value="listOfAccounts">{{
                  'labels.inputs.List of Accounts' | translate
                }}</mat-radio-button>
              </mat-radio-group>
            </div>

            @if (accountingRuleForm.controls.debitRuleType.value === 'fixedAccount') {
              <mat-form-field class="form-field-full">
                <mat-label>{{ 'labels.inputs.Account to Debit' | translate }}</mat-label>
                <mat-select formControlName="accountToDebit">
                  @for (glAccount of glAccountData; track glAccount) {
                    <mat-option [value]="glAccount.id">
                      {{ glAccount.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }

            @if (accountingRuleForm.controls.debitRuleType.value === 'listOfAccounts') {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Debit Tags' | translate }}</mat-label>
                <mat-select formControlName="debitTags" multiple>
                  @for (debitTag of debitTagData; track debitTag) {
                    <mat-option [value]="debitTag.id">
                      {{ debitTag.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="form-field-checkbox">
                <mat-checkbox labelPosition="after" formControlName="allowMultipleDebitEntries">
                  {{ 'labels.inputs.Multiple Debit Entries Allowed' | translate }}
                </mat-checkbox>
              </div>
            }
          </div>
        </section>

        <section class="form-section form-section--credit">
          <h2 class="form-section-title">{{ 'labels.inputs.Credit' | translate }}</h2>
          <div class="form-grid">
            <div class="rule-wrapper form-field-full">
              <span class="rule-label">{{ 'labels.inputs.Affected GL Entry (Credit) Rule Type' | translate }} *</span>
              <mat-radio-group class="radio-group-spacing" formControlName="creditRuleType">
                <mat-radio-button value="fixedAccount">{{
                  'labels.inputs.Fixed Account' | translate
                }}</mat-radio-button>
                <mat-radio-button value="listOfAccounts">{{
                  'labels.inputs.List of Accounts' | translate
                }}</mat-radio-button>
              </mat-radio-group>
            </div>

            @if (accountingRuleForm.controls.creditRuleType.value === 'fixedAccount') {
              <mat-form-field class="form-field-full">
                <mat-label>{{ 'labels.inputs.Account to Credit' | translate }}</mat-label>
                <mat-select formControlName="accountToCredit">
                  @for (glAccount of glAccountData; track glAccount) {
                    <mat-option [value]="glAccount.id">
                      {{ glAccount.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
            }

            @if (accountingRuleForm.controls.creditRuleType.value === 'listOfAccounts') {
              <mat-form-field>
                <mat-label>{{ 'labels.inputs.Credit Tags' | translate }}</mat-label>
                <mat-select formControlName="creditTags" multiple>
                  @for (creditTag of creditTagData; track creditTag) {
                    <mat-option [value]="creditTag.id">
                      {{ creditTag.name }}
                    </mat-option>
                  }
                </mat-select>
              </mat-form-field>
              <div class="form-field-checkbox">
                <mat-checkbox labelPosition="after" formControlName="allowMultipleCreditEntries">
                  {{ 'labels.inputs.Multiple Credit Entries Allowed' | translate }}
                </mat-checkbox>
              </div>
            }
          </div>
        </section>
      </div>

      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" type="submit" *mifosxHasPermission="'CREATE_ACCOUNTINGRULE'">
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
