<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow mat-typography">
  <mifosx-form-workspace eyebrow="labels.heading.Clients" title="labels.heading.Client Pay Charges">
    <form [formGroup]="transactionForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label> {{ 'labels.inputs.Amount' | translate }} </mat-label>
              <input matInput required autofocus formControlName="amount" />
              @if (transactionForm.controls.amount.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Amount' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>

            <mat-form-field (click)="transactionDatePicker.open()">
              <mat-label> {{ 'labels.inputs.Transaction date' | translate }} </mat-label>
              <input
                matInput
                [min]="minDate"
                [matDatepicker]="transactionDatePicker"
                required
                formControlName="transactionDate"
              />
              <mat-datepicker-toggle matSuffix [for]="transactionDatePicker"></mat-datepicker-toggle>
              <mat-datepicker #transactionDatePicker></mat-datepicker>
              @if (transactionForm.controls.transactionDate.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Transaction date' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>
          </div>

          <div class="layout-row align-center gap-5px">
            <button type="button" mat-raised-button [routerLink]="['../../..', 'general']">
              {{ 'labels.buttons.Cancel' | translate }}
            </button>
            <button mat-raised-button color="primary" [disabled]="!transactionForm.valid">
              {{ 'labels.buttons.Submit' | translate }}
            </button>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer"></footer>
    </form>
  </mifosx-form-workspace>
</div>
