<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mifosx-nav-hub
    hubSubtitle="labels.text.Manage your organization structure, staff, funds and tools"
    filterPlaceholder="labels.text.Filter organization tasks"
    recentScope="organization"
    [sections]="sections"
  />
</div>

<ng-template #templateOffice let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Offices"
    description="labels.text.Manage Offices page allows you to create, edit"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepOffice()"
    (next)="nextStepOffice()"
  />
</ng-template>

<ng-template #templateAddEditCurrency let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Currency Configuration"
    description="labels.text.Define what currencies interactions within the Mifos X system"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepAddEditCurrency()"
    (next)="nextStepAddEditCurrency()"
  />
</ng-template>

<ng-template #templateHolidays let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Holidays"
    description="labels.text.Ability to manage holidays for individual offices"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepHolidays()"
    (next)="nextStepHolidays()"
  />
</ng-template>

<ng-template #templateEmployee let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Employees"
    description="labels.text.View, edit and delete employees of your organization"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepEmployee()"
    (next)="nextStepEmployee()"
  />
</ng-template>

<ng-template #templateWorkingDays let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Working Days"
    description="labels.text.Working days page allows you to define which days"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepWorkingDays()"
    (next)="nextStepWorkingDays()"
  />
</ng-template>

<ng-template #templateManageFunds let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Funds"
    description="labels.text.This allows you to manage funds associated with loans."
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepManageFunds()"
    (next)="nextStepManageFunds()"
  />
</ng-template>
