<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow mat-elevation-z8">
  <mifosx-form-workspace eyebrow="labels.heading.Loans" title="labels.heading.Update Discount">
    <form [formGroup]="updateDiscountForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mifosx-input-amount
              [currency]="currency"
              [isRequired]="true"
              [inputFormControl]="updateDiscountForm.controls.transactionAmount"
              [inputLabel]="'Discount'"
            >
            </mifosx-input-amount>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.External Id' | translate }}</mat-label>
              <input matInput formControlName="externalId" />
              <mat-hint align="end">
                {{ updateDiscountForm.controls.externalId.value?.length || 0 }}/{{ maxExternalIdLength }}
              </mat-hint>
              @if (updateDiscountForm.controls.externalId.hasError('maxlength')) {
                <mat-error>{{ 'labels.inputs.External Id is too long' | translate }}</mat-error>
              }
            </mat-form-field>

            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Note' | translate }}</mat-label>
              <textarea matInput formControlName="note" cdkTextareaAutosize cdkAutosizeMinRows="2"></textarea>
              <mat-hint align="end">
                {{ updateDiscountForm.controls.note.value?.length || 0 }}/{{ maxNoteLength }}
              </mat-hint>
              @if (updateDiscountForm.controls.note.hasError('maxlength')) {
                <mat-error>{{ 'labels.inputs.Note is too long' | translate }}</mat-error>
              }
            </mat-form-field>

            @if (submitErrorMessage) {
              <mat-error>{{ submitErrorMessage }}</mat-error>
            }
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button (click)="gotoLoanDefaultView()">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button
          mat-raised-button
          color="primary"
          [disabled]="!updateDiscountForm.valid || isSubmitting"
          *mifosxHasPermission="'UPDATEDISCOUNT_WORKINGCAPITALLOAN'"
          type="submit"
        >
          {{ 'labels.buttons.Submit' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
