<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container form-page form-page--narrow">
  <mifosx-form-workspace eyebrow="labels.heading.Clients" title="labels.heading.Client Assign Staff">
    <form [formGroup]="clientAssignStaffForm" (ngSubmit)="submit()" class="form-workspace-form">
      <div class="form-workspace-body">
        <section class="form-section">
          <h2 class="form-section-title">{{ 'labels.heading.General' | translate }}</h2>
          <div class="form-grid">
            <mat-form-field>
              <mat-label>{{ 'labels.inputs.Staff' | translate }}</mat-label>
              <mat-select formControlName="staffId">
                @for (staff of staffData; track staff) {
                  <mat-option [value]="staff.id">
                    {{ staff.displayName }}
                  </mat-option>
                }
              </mat-select>
              @if (clientAssignStaffForm.controls.staffId.hasError('required')) {
                <mat-error>
                  {{ 'labels.inputs.Staff' | translate }} {{ 'labels.commons.is' | translate }}
                  <strong>{{ 'labels.commons.required' | translate }}</strong>
                </mat-error>
              }
            </mat-form-field>
          </div>
        </section>
      </div>
      <footer class="form-workspace-footer">
        <button type="button" mat-raised-button [routerLink]="['../../']">
          {{ 'labels.buttons.Cancel' | translate }}
        </button>
        <button mat-raised-button color="primary" type="submit">
          {{ 'labels.buttons.Confirm' | translate }}
        </button>
      </footer>
    </form>
  </mifosx-form-workspace>
</div>
