<!--
  Copyright since 2025 Mifos Initiative

  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.
-->

<div class="container">
  <mifosx-nav-hub
    hubSubtitle="labels.text.Configure data, security, automation and platform behavior"
    filterPlaceholder="labels.text.Filter system settings"
    recentScope="system"
    [sections]="sections"
  />
</div>

<ng-template #templateDatatables let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Data Tables"
    description="labels.text.Mifos X data-tables allow the user to add custom fields"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepDatatables()"
    (next)="nextStepDatatables()"
  />
</ng-template>

<ng-template #templateCodes let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Codes"
    description="labels.text.Selection you can create new drop-downs and edit"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepCodes()"
    (next)="nextStepCodes()"
  />
</ng-template>

<ng-template #templateRolesandPermission let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Roles and Permissions"
    description="labels.text.Roles and Permissions allow the administrator to control access"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepRolesandPermission()"
    (next)="nextStepRolesandPermission()"
  />
</ng-template>

<ng-template #templateMakerCheckerTable let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Configure Maker-Checker Tasks"
    description="labels.text.“Maker-Checker” principle requires every tasks"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepMakerCheckerTable()"
    (next)="nextStepMakerCheckerTable()"
  />
</ng-template>

<ng-template #templateConfigurations let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Configuration"
    description="labels.text.Configurations page allows you to further customize"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepConfigurations()"
    (next)="nextStepConfigurations()"
  />
</ng-template>

<ng-template #templateSchedulerJobs let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Scheduler Jobs"
    description="labels.text.Scheduler Jobs can set batch jobs"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepSchedulerJobs()"
    (next)="nextStepSchedulerJobs()"
  />
</ng-template>

<ng-template #templateManageReports let-popover="popover">
  <mifosx-config-wizard-step
    [popover]="popover"
    heading="labels.heading.Manage Reports"
    description="labels.text.Add customized reports and edit core reports"
    descriptionClass="mw300"
    (closed)="closeConfigWizard()"
    (back)="previousStepManageReports()"
    (next)="nextStepManageReports()"
  />
</ng-template>
